# Introduction to Data Science
## Homework 2

Student Name: Zhikun Zhao

Student Netid: zz1980
***

### Part 1: Case study
- Read [this article](http://www.nytimes.com/2012/02/19/magazine/shopping-habits.html) in the New York Times.
- Use what we've learned in class and from the book to describe how one could set Target's problem up as a predictive modeling problem, such that they could have gotten the results that they did.  Formulate your solution as a proposed plan using our data science terminology.  Include all the aspects of the formulation that you see as relevant to solving the problem.  Be precise but concise.

## Target Case Study - Solution Formulation Plan
### Problem Formation
Before we start, we will have to translate target's business problem into data mining tasks. In general, the goals can be breakdown to the followings: Proactively reach out to customers with a high likelihood of to be pregnant; Create reactive strategies to attract customers to shop at target both during at their pregnancy period and after the due date. Given these use cases, we need to be able to rank customers based on their pregnancy likelihood and estimate the potential due date. Since we have a binary outcome of interest, we can apply some form of supervised learning to solve this problem. To put it more formally, our tasks will be the following:
1. Use available data (X) to build a supervised learning algorithm that estimates the likelihood of pregnant customers in their 2nd trimester, P(Pregnant|X)
2. Additionally, the algorithm should also be able to provide us with an estimated due date give available data (X).
3. Develop a framework for incorporating our probability estimates into one or more promotion strategies to attract customer shopping at Target.

### Data Exploration
The next crucial step is explore and understand to raw data. This process starts from finding answers for questions like where the data coming from; how was the data sampled, collected and aggregated; One important task while trying to answer those questions is finding potential bias in the sample data. Following that, we will look into the data set to see what the data look like and find potential structures in the data set. The objective here is to find relevant variables to our algorithm by and, if necessary, remove redundant variables by looking at statistics such as correlation and mutual information.

### Predictive Modeling and Evaluation
Once finishing the data exploration, we can start building our predictive model. Given the problem formation and data exploration steps, we now can narrow down our scope to a few model options and designs which are applicable in current context. The goal is to run controlled experiments against multiple model choices and find out the most suitable one. Prior to running the experiments, we will need to clearly define the evaluation plan, which includes how to split the data (e.g. training vs. validation data), which evaluation methods to use (e.g. time vs accuracy), etc. Besides the quantitative evaluation, it is also important to ensure that the model satisfies the original business goals. Only after all the stakeholders sign off on the model, it can move on to the deployment phase.

### Part 2: Exploring data in the command line
For this part we will be using the data file located in `"advertising_events.csv"`. This file consists of records that pertain to some online advertising events on a given day. There are 4 comma separated columns in this order: `userid`, `timestamp`, `domain`, and `action`. These fields are of type `int`, `int`, `string`, and `int` respectively. Answer the following questions using Linux/Unix bash commands. All questions can be answered in one line (sometimes, with pipes)! Some questions will have many possible solutions. Don't forget that in IPython notebooks you must prefix all bash commands with an exclamation point, i.e. `"!command arguments"`.

[Hints: You can experiment with whatever you want in the notebook and then delete things to construct your answer later.  You can also use ssh to use the actual bash shell in your terminal and then just paste your answers here. Recall that once you enter the "!" then filename completion should work. Also, these are standard data exploration commands that are quick and easy to use in a terminal or in the notebook. We don't cover command line operations formally in this class, but these are worth learning (and thus are part of the HW). Be resourceful. Use whatever online cheat sheets or Stackoverflow to answer the question.]

1\. How many records (lines) are in this file (look up wc)?

In [2]:
# Place your code here
!wc -l advertising_events.csv

   10341 advertising_events.csv

In [3]:
!tail -20 advertising_events.csv

83,650940322,google.com,2
418,651417971,facebook.com,2
260,638365034,twitter.com,1
177,643640173,google.com,1
424,656023612,youtube.com,0
502,643664776,baidu.com,1
79,633225641,baidu.com,0
14,638279764,facebook.com,2
295,638149599,google.com,3
719,632103924,facebook.com,2
563,640139876,twitter.com,3
439,648729352,baidu.com,3
329,636817191,twitter.com,2
384,656858011,facebook.com,0
68,639954548,yahoo.com,1
685,647718363,youtube.com,0
691,653540836,wikipedia.org,3
635,653997960,google.com,1
375,635790325,yahoo.com,3
143,641259040,yahoo.com,1

In [4]:
import pandas as pd

In [24]:
data = pd.read_csv('advertising_events.csv', names = ['id', 'timestamp','domain','action'])

In [25]:
data

        id  timestamp         domain  action
0      338  656922288      baidu.com       2
1      153  648642796     google.com       2
2      244  656930942     google.com       2
3      229  646139341    youtube.com       3
4      160  637602195     google.com       3
5      470  632791541   facebook.com       2
6      280  636651420      yahoo.com       0
7      314  648344598     google.com       1
8      487  648036229   facebook.com       2
9      344  641886933     google.com       3
10     625  635981741     google.com       1
11     635  655316474   facebook.com       3
12     499  658639823   facebook.com       3
13     503  637121162      baidu.com       1
14     278  650439997    youtube.com       2
15     659  648086789     google.com       3
16     217  653408941     google.com       3
17     130  659456593   facebook.com       0
18     653  639913263     google.com       1
19     449  652348560      yahoo.com       3
20     410  634692405     amazon.com       0
21     707  653191737   facebook.com       3
22     432  641468860    twitter.com       0
23      91  659010950   facebook.com       0
24     339  652034987     google.com       0
25     420  654511389      baidu.com       2
26     496  638143426      baidu.com       1
27     490  647331740    twitter.com       2
28     447  645732042   facebook.com       3
29     489  632593464   facebook.com       3
...    ...        ...            ...     ...
10311  300  639236961     google.com       0
10312   11  651070793   facebook.com       1
10313   97  649666301     google.com       0
10314  624  654488248    twitter.com       2
10315  549  650491047    youtube.com       1
10316  647  632498769  wikipedia.org       0
10317  320  643719415     taobao.com       3
10318  728  634581525   facebook.com       0
10319  387  659892277      yahoo.com       1
10320   85  634500913   facebook.com       3
10321   83  650940322     google.com       2
10322  418  651417971   facebook.com       2
10323  260  638365034    twitter.com       1
10324  177  643640173     google.com       1
10325  424  656023612    youtube.com       0
10326  502  643664776      baidu.com       1
10327   79  633225641      baidu.com       0
10328   14  638279764   facebook.com       2
10329  295  638149599     google.com       3
10330  719  632103924   facebook.com       2
10331  563  640139876    twitter.com       3
10332  439  648729352      baidu.com       3
10333  329  636817191    twitter.com       2
10334  384  656858011   facebook.com       0
10335   68  639954548      yahoo.com       1
10336  685  647718363    youtube.com       0
10337  691  653540836  wikipedia.org       3
10338  635  653997960     google.com       1
10339  375  635790325      yahoo.com       3
10340  143  641259040      yahoo.com       1

[10341 rows x 4 columns]

In [33]:
dc = data['domain'].value_counts()

In [34]:
dc

google.com       3114
facebook.com     2092
youtube.com      1036
yahoo.com        1034
baidu.com        1022
wikipedia.org     513
amazon.com        511
qq.com            382
twitter.com       321
taobao.com        316
Name: domain, dtype: int64

In [41]:
!cut -d ',' -f 3 advertising_events.csv | sort | uniq -c | sort -r

3114 google.com
2092 facebook.com
1036 youtube.com
1034 yahoo.com
1022 baidu.com
 513 wikipedia.org
 511 amazon.com
 382 qq.com
 321 twitter.com
 316 taobao.com

2\. How many unique users are in this file? (hint: consider the 'cut' command and use pipe operator '|')

In [1]:
# Place your code here
!cut -d ',' -f 1 advertising_events.csv | sort | uniq | wc -l

     732

3\. Rank all domains by the number of visits they received in descending order. (hint: consider the 'cut', 'uniq' and 'sort' commands and the pipe operator).

In [2]:
# Place your code here
#!cut -d ',' -f 3 advertising_events.csv | sort | uniq
!cut -d ',' -f 3 advertising_events.csv | sort | uniq -c | sort -r

3114 google.com
2092 facebook.com
1036 youtube.com
1034 yahoo.com
1022 baidu.com
 513 wikipedia.org
 511 amazon.com
 382 qq.com
 321 twitter.com
 316 taobao.com

4\. List all records for the user with user id 37. (hint: this can be done using 'grep')

In [6]:
!awk '$1==37' advertising_events.csv

In [4]:
!pwd

/Users/brown/Desktop/NYU DS/DSGA-1001/hw/hw2

In [3]:
# Place your code here
#!grep "37" advertising_events.csv
!grep -e '^37,' advertising_events.csv

37,648061658,google.com,0
37,642479972,google.com,2
37,644493341,facebook.com,2
37,654941318,facebook.com,1
37,649979874,baidu.com,1
37,653061949,yahoo.com,1
37,655020469,google.com,3
37,640878012,amazon.com,0
37,659864136,youtube.com,1
37,640361378,yahoo.com,1
37,653862134,facebook.com,0
37,648828970,youtube.com,0

### Part 3: Dealing with data Pythonically

In [5]:
# You might find these packages useful. You may import any others you want!
import pandas as pd
import numpy as np

1\. Load the data set `"ads_dataset.tsv"` into a Python Pandas data frame called `ads`.

In [12]:
# Place your code here
ads = pd.read_table('ads_dataset.tsv', sep="\t")

In [7]:
import pandas as pd

In [10]:
test = pd.read_csv('ads_dataset.tsv', sep="\t")

In [11]:
test

,isbuyer,buy_freq,visit_freq,buy_interval,sv_interval,expected_time_buy,expected_time_visit,last_buy,last_visit,multiple_buy,multiple_visit,uniq_urls,num_checkins,y_buy
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,106,106,0,0,169,2130,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,72,72,0,0,154,1100,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,5,5,0,0,4,12,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,6,6,0,0,150,539,0
NaN,0,NaN,2,0.0,0.500000,0.0,-101.149300,101,101,0,1,103,362,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,42,42,0,0,17,35,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,42,42,0,0,42,110,0
NaN,0,NaN,2,0.0,29.791670,0.0,-106.188300,121,121,0,1,101,401,0
NaN,0,NaN,3,0.0,45.479170,0.0,-34.144730,64,64,0,1,100,298,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,13,13,0,0,53,247,0
NaN,1,1.0,2,0.0,0.958333,0.0,-20.671200,21,21,0,1,65,175,0
NaN,0,NaN,2,0.0,21.333330,0.0,-108.323000,118,118,0,1,163,891,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,151,151,0,0,24,198,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,19,19,0,0,16,48,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,81,81,0,0,32,177,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,68,68,0,0,64,305,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,36,36,0,0,76,163,0
NaN,0,NaN,2,0.0,15.958330,0.0,-6.683471,14,14,0,1,101,1105,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,19,19,0,0,30,76,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,70,70,0,0,168,1317,0
NaN,0,NaN,2,0.0,27.250000,0.0,-124.610000,138,138,0,1,172,828,0
NaN,0,NaN,2,0.0,133.125000,0.0,50.474090,16,16,0,1,67,396,0
NaN,0,NaN,3,0.0,8.395833,0.0,2.534722,3,3,0,1,146,398,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,9,9,0,0,-1,26,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,145,145,0,0,179,1215,0
NaN,0,NaN,8,0.0,15.994050,0.0,12.569260,1,1,0,1,64,167,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,39,39,0,0,165,3883,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,34,34,0,0,96,219,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,135,135,0,0,143,1011,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,77,77,0,0,81,219,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,6,6,0,0,0,182,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,44,44,0,0,84,139,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,85,85,0,0,169,276,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,49,49,0,0,18,45,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,30,30,0,0,53,506,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,10,10,0,0,109,1131,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,77,77,0,0,11,38,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,14,14,0,0,9,87,0
NaN,0,NaN,3,0.0,28.229170,0.0,-7.932672,26,26,0,1,162,1178,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,48,48,0,0,39,139,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,38,38,0,0,26,117,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,70,70,0,0,171,506,0
NaN,0,NaN,2,0.0,8.541667,0.0,-14.237070,18,18,0,1,-1,3,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,71,71,0,0,63,254,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,185,185,0,0,184,1358,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,95,95,0,0,164,2462,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,134,134,0,0,174,499,0
NaN,0,NaN,10,0.0,7.101852,0.0,3.137754,3,3,0,1,103,255,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,109,109,0,0,143,808,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,57,57,0,0,164,1912,0
NaN,0,NaN,2,0.0,131.083300,0.0,34.678500,30,30,0,1,30,214,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,181,181,0,0,22,125,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,69,69,0,0,95,187,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,119,119,0,0,103,1338,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,37,37,0,0,1,22,0
NaN,0,NaN,3,0.0,30.979170,0.0,12.621240,8,8,0,1,168,2080,0
NaN,0,NaN,2,0.0,1.041667,0.0,-0.916713,1,1,0,1,1,15,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,20,20,0,0,132,556,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,180,180,0,0,71,400,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,185,185,0,0,77,401,0

In [14]:
import pandas as pd
des = ads.describe()

In [15]:
des

,isbuyer,buy_freq,visit_freq,buy_interval,sv_interval,expected_time_buy,expected_time_visit,last_buy,last_visit,multiple_buy,multiple_visit,uniq_urls,num_checkins,y_buy
count,54584.000000,2327.000000,54584.000000,54584.000000,54584.000000,54584.000000,54584.000000,54584.000000,54584.000000,54584.000000,54584.000000,54584.000000,54584.000000,54584.000000
mean,0.042632,1.240653,1.852777,0.210008,5.825610,-0.198040,-10.210786,64.729335,64.729335,0.006357,0.277444,86.569343,720.657592,0.004635
std,0.202027,0.782228,2.921820,3.922016,17.595442,4.997792,31.879722,53.476658,53.476658,0.079479,0.447742,61.969765,1275.727306,0.067924
min,0.000000,1.000000,0.000000,0.000000,0.000000,-181.923800,-187.615600,0.000000,0.000000,0.000000,0.000000,-1.000000,1.000000,0.000000
25%,0.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,18.000000,18.000000,0.000000,0.000000,30.000000,127.000000,0.000000
50%,0.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,51.000000,51.000000,0.000000,0.000000,75.000000,319.000000,0.000000
75%,0.000000,1.000000,2.000000,0.000000,0.104167,0.000000,0.000000,105.000000,105.000000,0.000000,1.000000,155.000000,802.000000,0.000000
max,1.000000,15.000000,84.000000,174.625000,184.916700,84.285710,91.401920,188.000000,188.000000,1.000000,1.000000,206.000000,37091.000000,1.000000

In [130]:
import pandas as pd

def getDfSummary_cc(input_data):
    des = input_data.describe()

    unique_count = [input_data[col].value_counts().count() for col in des.columns]
    nan_count = [sum(input_data[col].isnull()) for col in des.columns]

    des2 = pd.DataFrame([unique_count, nan_count], index = ['number_distinct','number_nan'], columns = des.columns.values)
    des = des.append(des2)
    return des.T

%timeit getDfSummary_cc(ads)
d2 = getDfSummary_cc(ads)

1 loop, best of 3: 1.14 s per loop

In [131]:
d2

,count,mean,std,min,25%,50%,75%,max,number_distinct,number_nan
isbuyer,54584.0,0.042632,0.202027,0.0000,0.0,0.0,0.000000,1.00000,2.0,0.0
buy_freq,2327.0,1.240653,0.782228,1.0000,1.0,1.0,1.000000,15.00000,10.0,52257.0
visit_freq,54584.0,1.852777,2.921820,0.0000,1.0,1.0,2.000000,84.00000,64.0,0.0
buy_interval,54584.0,0.210008,3.922016,0.0000,0.0,0.0,0.000000,174.62500,295.0,0.0
sv_interval,54584.0,5.825610,17.595442,0.0000,0.0,0.0,0.104167,184.91670,5886.0,0.0
expected_time_buy,54584.0,-0.198040,4.997792,-181.9238,0.0,0.0,0.000000,84.28571,348.0,0.0
expected_time_visit,54584.0,-10.210786,31.879722,-187.6156,0.0,0.0,0.000000,91.40192,15135.0,0.0
last_buy,54584.0,64.729335,53.476658,0.0000,18.0,51.0,105.000000,188.00000,189.0,0.0
last_visit,54584.0,64.729335,53.476658,0.0000,18.0,51.0,105.000000,188.00000,189.0,0.0
multiple_buy,54584.0,0.006357,0.079479,0.0000,0.0,0.0,0.000000,1.00000,2.0,0.0
multiple_visit,54584.0,0.277444,0.447742,0.0000,0.0,0.0,1.000000,1.00000,2.0,0.0
uniq_urls,54584.0,86.569343,61.969765,-1.0000,30.0,75.0,155.000000,206.00000,207.0,0.0
num_checkins,54584.0,720.657592,1275.727306,1.0000,127.0,319.0,802.000000,37091.00000,4628.0,0.0
y_buy,54584.0,0.004635,0.067924,0.0000,0.0,0.0,0.000000,1.00000,2.0,0.0

2\. Write a Python function called `getDfSummary()` that does the following:
- Takes as input a data frame
- For each variable in the data frame calculates the following features:
  - `number_nan` to count the number of missing not-a-number values
  - Ignoring missing, NA, and Null values:
    - `number_distinct` to count the number of distinct values a variable can take on
    - `mean`, `max`, `min`, `std` (standard deviation), and `25%`, `50%`, `75%` to correspond to the appropriate percentiles
- All of these new features should be loaded in a new data frame. Each row of the data frame should be a variable from the input data frame, and the columns should be the new summary features.
- Returns this new data frame containing all of the summary information

Hint: The pandas `describe()` [(manual page)](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.describe.html) method returns a useful series of values that can be used here.

In [93]:
def getDfSummary(input_data):
    # Place your code here
    count_nan = len(input_data) - input_data.count(axis=0)
    t1 = count_nan.to_frame().rename(columns={0:'number_nan'}).T
    t2 = input_data.nunique().to_frame().rename(columns={0:'number_distinct'}).T
    output_data = input_data.describe().append(t1).append(t2)
    return output_data.T

3\. How long does it take for your `getDfSummary()` function to work on your `ads` data frame? Show us the results below.

Hint: `%timeit getDfSummary(ads)`

In [11]:
# Place your code here
%timeit getDfSummary(ads)

10 loops, best of 3: 61.1 ms per loop

4\. Using the results returned from `getDfSummary()`, which fields, if any, contain missing `NaN` values?

In [20]:
# Place your code here
out = getDfSummary(ads)
[y for x,y in zip(out['number_nan'],out.index) if x > 0.0]

['buy_freq']

In [132]:
d2.index[d2['number_nan'] > 0]

Index([u'buy_freq'], dtype='object')

In [120]:
d1 = getDfSummary(ads)
d2 = getDfSummary_cc(ads)

In [112]:
d1

,count,mean,std,min,25%,50%,75%,max,number_nan,number_distinct
isbuyer,54584.0,0.042632,0.202027,0.0000,0.0,0.0,0.000000,1.00000,0.0,2.0
buy_freq,2327.0,1.240653,0.782228,1.0000,1.0,1.0,1.000000,15.00000,52257.0,10.0
visit_freq,54584.0,1.852777,2.921820,0.0000,1.0,1.0,2.000000,84.00000,0.0,64.0
buy_interval,54584.0,0.210008,3.922016,0.0000,0.0,0.0,0.000000,174.62500,0.0,295.0
sv_interval,54584.0,5.825610,17.595442,0.0000,0.0,0.0,0.104167,184.91670,0.0,5886.0
expected_time_buy,54584.0,-0.198040,4.997792,-181.9238,0.0,0.0,0.000000,84.28571,0.0,348.0
expected_time_visit,54584.0,-10.210786,31.879722,-187.6156,0.0,0.0,0.000000,91.40192,0.0,15135.0
last_buy,54584.0,64.729335,53.476658,0.0000,18.0,51.0,105.000000,188.00000,0.0,189.0
last_visit,54584.0,64.729335,53.476658,0.0000,18.0,51.0,105.000000,188.00000,0.0,189.0
multiple_buy,54584.0,0.006357,0.079479,0.0000,0.0,0.0,0.000000,1.00000,0.0,2.0
multiple_visit,54584.0,0.277444,0.447742,0.0000,0.0,0.0,1.000000,1.00000,0.0,2.0
uniq_urls,54584.0,86.569343,61.969765,-1.0000,30.0,75.0,155.000000,206.00000,0.0,207.0
num_checkins,54584.0,720.657592,1275.727306,1.0000,127.0,319.0,802.000000,37091.00000,0.0,4628.0
y_buy,54584.0,0.004635,0.067924,0.0000,0.0,0.0,0.000000,1.00000,0.0,2.0

5\. For the fields with missing values, does it look like the data is missing at random? Are there any other fields that correlate perfectly, or predict that the data is missing? If missing, what should the data value be?

Hint: create another data frame that has just the records with a missing value. Get a summary of this data frame using `getDfSummary()` and compare the differences. Do some feature distributions change dramatically?

In [133]:
s = ads['buy_freq']

In [137]:
getDfSummary(ads.ix[pd.isnull(ads.buy_freq)])
# isbuyer, expected_time_visit, buy_interval, multiple_buy are all zero for buy_freq = NaN

,count,mean,std,min,25%,50%,75%,max,number_nan,number_distinct
isbuyer,52257.0,0.000000,0.000000,0.0000,0.0,0.0,0.000000,0.00000,0.0,1.0
buy_freq,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,52257.0,0.0
visit_freq,52257.0,1.651549,2.147955,1.0000,1.0,1.0,2.000000,84.00000,0.0,48.0
buy_interval,52257.0,0.000000,0.000000,0.0000,0.0,0.0,0.000000,0.00000,0.0,1.0
sv_interval,52257.0,5.686388,17.623555,0.0000,0.0,0.0,0.041667,184.91670,0.0,5112.0
expected_time_buy,52257.0,0.000000,0.000000,0.0000,0.0,0.0,0.000000,0.00000,0.0,1.0
expected_time_visit,52257.0,-9.669298,31.239030,-187.6156,0.0,0.0,0.000000,91.40192,0.0,13351.0
last_buy,52257.0,65.741317,53.484622,0.0000,19.0,52.0,106.000000,188.00000,0.0,189.0
last_visit,52257.0,65.741317,53.484622,0.0000,19.0,52.0,106.000000,188.00000,0.0,189.0
multiple_buy,52257.0,0.000000,0.000000,0.0000,0.0,0.0,0.000000,0.00000,0.0,1.0
multiple_visit,52257.0,0.255602,0.436203,0.0000,0.0,0.0,1.000000,1.00000,0.0,2.0
uniq_urls,52257.0,86.656180,61.996711,-1.0000,30.0,75.0,155.000000,206.00000,0.0,207.0
num_checkins,52257.0,721.848518,1284.504018,1.0000,126.0,318.0,803.000000,37091.00000,0.0,4570.0
y_buy,52257.0,0.003024,0.054904,0.0000,0.0,0.0,0.000000,1.00000,0.0,2.0

In [138]:
getDfSummary(ads.ix[pd.notnull(ads.buy_freq)])
#isbuyer is one for buy_freq != NaN

,count,mean,std,min,25%,50%,75%,max,number_nan,number_distinct
isbuyer,2327.0,1.000000,0.000000,1.0000,1.000000,1.000000,1.00000,1.00000,0.0,1.0
buy_freq,2327.0,1.240653,0.782228,1.0000,1.000000,1.000000,1.00000,15.00000,0.0,10.0
visit_freq,2327.0,6.371723,8.680026,0.0000,2.000000,3.000000,7.00000,75.00000,0.0,60.0
buy_interval,2327.0,4.926110,18.377272,0.0000,0.000000,0.000000,0.00000,174.62500,0.0,295.0
sv_interval,2327.0,8.952092,16.651559,0.0000,0.041667,3.354167,10.83333,176.70830,0.0,1367.0
expected_time_buy,2327.0,-4.645390,23.779721,-181.9238,0.000000,0.000000,0.00000,84.28571,0.0,348.0
expected_time_visit,2327.0,-22.370870,42.080323,-183.3626,-34.575625,-1.504768,0.00000,88.30038,0.0,1788.0
last_buy,2327.0,42.003438,47.980703,0.0000,3.000000,21.000000,70.00000,186.00000,0.0,186.0
last_visit,2327.0,42.003438,47.980703,0.0000,3.000000,21.000000,70.00000,186.00000,0.0,186.0
multiple_buy,2327.0,0.149119,0.356282,0.0000,0.000000,0.000000,0.00000,1.00000,0.0,2.0
multiple_visit,2327.0,0.767942,0.422237,0.0000,1.000000,1.000000,1.00000,1.00000,0.0,2.0
uniq_urls,2327.0,84.619252,61.342345,-1.0000,30.000000,69.000000,153.00000,195.00000,0.0,196.0
num_checkins,2327.0,693.913193,1059.533550,2.0000,137.000000,337.000000,784.00000,10778.00000,0.0,1127.0
y_buy,2327.0,0.040825,0.197927,0.0000,0.000000,0.000000,0.00000,1.00000,0.0,2.0

Answer to Qns 5:
1. The data is not missing at random.
2. Based on the observation on summary statistics, variable isbuyer can be used to predict whether data is missing.
3. The missing data are 0s.

In [21]:
# Place your code here
# stats including NaN
getDfSummary(ads)
tmp = ads[pd.isnull(ads['buy_freq'])]
# stats removing none NaN rows
getDfSummary(tmp)
# replace NaN with 0s
ads.buy_freq = ads['buy_freq'].fillna(value=0)
ads.head()

,isbuyer,buy_freq,visit_freq,buy_interval,sv_interval,expected_time_buy,expected_time_visit,last_buy,last_visit,multiple_buy,multiple_visit,uniq_urls,num_checkins,y_buy
NaN,0,0.0,1,0.0,0.0,0.0,0.0000,106,106,0,0,169,2130,0
NaN,0,0.0,1,0.0,0.0,0.0,0.0000,72,72,0,0,154,1100,0
NaN,0,0.0,1,0.0,0.0,0.0,0.0000,5,5,0,0,4,12,0
NaN,0,0.0,1,0.0,0.0,0.0,0.0000,6,6,0,0,150,539,0
NaN,0,0.0,2,0.0,0.5,0.0,-101.1493,101,101,0,1,103,362,0

6\. Which variables are binary?

In [22]:
# Place your code here
tmp = getDfSummary(ads)
tmp.index[tmp.number_distinct == 2.0]

Index([u'isbuyer', u'multiple_buy', u'multiple_visit', u'y_buy'], dtype='object')

In [139]:
d1.index[d1.number_distinct == 2]

Index([u'isbuyer', u'multiple_buy', u'multiple_visit', u'y_buy'], dtype='object')